.footer {
    background-color: #f8f8f8;
    padding: 40px 20px;
    text-align: center;
  }
  
  .newsletter {
    background-color: black;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between; /* Đẩy h2 về trái, input về phải */
    align-items: center; /* Căn giữa theo chiều dọc */
    width: 1000px; /* Giới hạn chiều rộng */
    height: 120px;
    margin: 0 auto; /* Căn giữa phần tử */
    border-radius: 30px; /* Bo góc nhẹ để đẹp hơn */
  }

  .newsletter h2 {
    font-size: 40px;
    font-weight: bold;
    flex: 1;
    text-align: left;
  }
  
  .newsletter-input {
    display: flex;
    flex-direction: column; /* Chuyển từ hàng ngang thành cột dọc */
    align-items: center; /* Căn giữa nội dung */
    gap: 10px; /* Khoảng cách giữa input và button */
  }
  
  .newsletter-input input {
    padding: 10px;
    width: 300px;
    border: none;
    border-radius: 20px;
  }
  
  .newsletter-input button {
    padding: 10px;
    width: 320px;
    border: none;
    background-color: white;
    color: black;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
  }
  
  
  .footer-content {
    display: flex;
    justify-content:space-around;
    margin-top: 40px;
    flex-wrap: wrap;
  }
  
  .footer-section {
    text-align: left;
  }
  
  .footer-section h3 {
    font-size: 16px;
    font-weight:normal;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin: 8px 0;
    color: gray;
    cursor: pointer;
  }
  
  .about h1 {
    font-size: 24px;
    font-weight: bold;
  }
  
  .about p {
    color: gray;
  }
  
  .social-icons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
  }
  
  .icon {
    font-size: 18px;
    color: black;
    cursor: pointer;
  }
  
  .footer-bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #ddd;
    font-size: 14px;
    color: gray;
  }
  
  .payment-icons img {
    width: 40px;
    margin-left: 10px;
  }
  